@use "sass:math";
@use "@styles/global/variables";
@use "@styles/global/mixins";
@use "@styles/global/functions" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: transform-to-rem(275px);
  min-block-size: transform-to-rem(65px);
  padding-block: transform-to-rem(16px);
  padding-inline: transform-to-rem(24px);

  font-family: inherit;
  font-weight: 700;
  font-size: transform-to-rem(18px);
  line-height: math.div(22, 18);
  text-transform: uppercase;
  color: var(--color-txt-inverted);

  background-color: var(--color-accent);
  border: none;
  border-radius: 2px;
  outline: 2px solid transparent;
  outline-offset: 2px;

  transition:
    background-color variables.$transition,
    outline-color variables.$transition;

  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-action);
  }

  &:focus-visible {
    background-color: var(--color-accent-action);
    outline-color: var(--color-accent-action);
  }

  @include mixins.vp-575 {
    min-inline-size: transform-to-rem(260px);
    min-block-size: transform-to-rem(55px);
    padding-block: transform-to-rem(12px);
    padding-inline: transform-to-rem(20px);

    font-size: 16px;
    line-height: math.div(20, 16);
  }

  @include mixins.vp-374 {
    min-inline-size: transform-to-rem(260px);
    min-block-size: transform-to-rem(48px);
    padding-block: transform-to-rem(10px);
    padding-inline: transform-to-rem(16px);
  }
}
