@use "@styles/global/variables";
@use "@styles/global/functions" as *;

.slider-btn {
  position: relative;
  inline-size: transform-to-rem(44px);
  block-size: transform-to-rem(44px);
  padding: 0;

  color: var(--color-accent);

  background-color: transparent;
  border: none;
  border-radius: 2px;
  outline: 1px solid transparent;

  transition:
    color variables.$transition,
    outline-color variables.$transition;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;

    // prettier-ignore
    clip-path:
      polygon(
        18.18% 22.73%,
        63.64% 22.73%,
        86.36% 50%,
        63.64% 77.27%,
        45.45% 77.27%,
        68.18% 50%,
        45.45% 22.73%,
        36.36% 22.73%,
        59.09% 50%,
        36.36% 77.27%,
        18.18% 77.27%,
        40.91% 50%
      );
  }

  &--prev {
    &::before {
      transform: scaleX(-1);
    }
  }

  &:hover {
    color: var(--color-accent-action);
  }

  &:focus-visible {
    color: var(--color-accent-action);
    outline-color: var(--color-accent-action);
  }
}
