$color-black: #000000;
$color-night-rider: #333333;
$color-matterhorn: #555555;
$color-white: #ffffff;

$color-alice-blue: #eef7ff;

$color-venetian-red: #dc0306;
$color-persimmon: #e64712;

$ff-primary: "Gilroy", sans-serif;
$fz-default: 16px;

$vp-1680: 1680px;
$vp-1440: 1440px;
$vp-1200: 1200px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-576: 576px;
$vp-375: 375px;

$transition: 0.3s ease;
