@use "sass:math";
@use "@styles/global/mixins";
@use "@styles/global/functions" as *;

$feature-padding-inline-start: transform-to-rem(36px);

.hero-features {
  counter-reset: features;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: transform-to-rem(59px) transform-to-rem(89px);

  @include mixins.vp-1023 {
    gap: transform-to-rem(44px) transform-to-rem(64px);
  }

  @include mixins.vp-575 {
    gap: transform-to-rem(34px) transform-to-rem(52px);
  }

  &__item {
    inline-size: 100%;
    max-inline-size: transform-to-rem(335px);
    padding-inline-start: $feature-padding-inline-start;

    @include mixins.vp-575 {
      max-inline-size: transform-to-rem(310px);
    }
  }

  &__title {
    counter-increment: features;

    display: flex;
    align-items: flex-start;
    gap: transform-to-rem(6px);
    margin: 0;
    margin-inline-start: -$feature-padding-inline-start;

    font-weight: 700;
    font-size: transform-to-rem(20px);
    line-height: math.div(24, 20);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: transform-to-rem(20px);
    }

    &::before {
      content: counter(features, decimal-leading-zero);

      flex-shrink: 0;
      inline-size: transform-to-rem(30px);

      color: var(--color-accent);
    }

    @include mixins.vp-575 {
      font-size: transform-to-rem(18px);
      line-height: math.div(22, 18);
    }
  }

  &__desc {
    margin: 0;

    &:not(:last-child) {
      margin-block-end: 1lh;
    }
  }
}
