@use "sass:math";
@use "@styles/global/mixins";

$feature-padding-inline-start: 36px;

.hero-features {
  counter-reset: features;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 59px 89px;

  @include mixins.vp-1023 {
    gap: 44px 64px;
  }

  @include mixins.vp-575 {
    gap: 34px 52px;
  }

  &__item {
    inline-size: 100%;
    max-inline-size: 335px;
    padding-inline-start: $feature-padding-inline-start;

    @include mixins.vp-575 {
      max-inline-size: 310px;
    }
  }

  &__title {
    counter-increment: features;

    display: flex;
    align-items: flex-start;
    gap: 6px;
    margin: 0;
    margin-inline-start: -$feature-padding-inline-start;

    font-weight: 700;
    font-size: 20px;
    line-height: math.div(24, 20);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: 20px;
    }

    &::before {
      content: counter(features, decimal-leading-zero);

      flex-shrink: 0;
      inline-size: 30px;

      color: var(--color-accent);
    }

    @include mixins.vp-575 {
      font-size: 18px;
      line-height: math.div(22, 18);
    }
  }

  &__desc {
    margin: 0;

    &:not(:last-child) {
      margin-block-end: 1lh;
    }
  }
}
