@use "@styles/global/mixins";
@use "@styles/global/functions" as *;

.hero-slider {
  position: relative;

  &__slides {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__slide {
    position: relative;
  }

  &__slide-cover {
    inline-size: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  &__action-btn {
    position: absolute;
    z-index: 2;
    inset-inline-start: transform-to-rem(42px);
    inset-block-end: transform-to-rem(47px);

    @include mixins.vp-1199 {
      inset-inline-start: transform-to-rem(24px);
      inset-block-end: transform-to-rem(29px);
    }

    @include mixins.vp-1023 {
      inset-inline-start: transform-to-rem(42px);
      inset-block-end: transform-to-rem(47px);
    }

    @include mixins.vp-575 {
      inset-inline-start: transform-to-rem(24px);
      inset-block-end: transform-to-rem(29px);
    }
  }

  &__controls {
    position: absolute;
    z-index: 2;
    inset-inline-end: transform-to-rem(28px);
    inset-block-end: transform-to-rem(57px);
    display: flex;
    gap: transform-to-rem(8px);

    @include mixins.vp-1199 {
      inset-inline-end: transform-to-rem(14px);
      inset-block-end: transform-to-rem(39px);
    }

    @include mixins.vp-1023 {
      inset-inline-end: transform-to-rem(28px);
      inset-block-end: transform-to-rem(57px);

      @include mixins.vp-575 {
        display: none;

        inset-inline-end: transform-to-rem(14px);
        inset-block-end: transform-to-rem(39px);
      }
    }
  }
}
