@use "@styles/global/mixins";
@use "@styles/global/functions" as *;

section {
  margin-block: transform-to-rem(70px);

  &.has-dim-bg {
    margin-block-start: 0;
    margin-block-end: 0;

    background-color: var(--color-bg-dim);
  }

  @include mixins.vp-1199 {
    margin-block: transform-to-rem(60px);
  }

  @include mixins.vp-575 {
    margin-block: transform-to-rem(34px);
  }
}
